
<footer class="mainfooter" role="contentinfo">
    
    <div class="footer-middle">
    <div class="container">
      <div class="row">
         
        
        <div class="col-sm-4">
          <!--Column2-->
          <div class="footer-pad">
            <h4>Address</h4>
            <address>
                <ul class="list-unstyled">
                    <li>13 Holland St Londen, Engeland </li>
                    <li>+44.2060.123456</li>
                </ul>
            </address>
          </div>
        </div>
        <div class="col-sm-4">
          <!--Column3-->
          <div class="footer-pad">
            <h4>Meer informatie</h4>
            <ul class="list-unstyled">
                <li><a href="/1718-nmd2-code-irent-karetael/voorwaarden">Voorwaarden</a></li>
                <li><a href="/1718-nmd2-code-irent-karetael/disclaimer">Disclaimer</a></li>
                <li><a href="/1718-nmd2-code-irent-karetael/contacteerons">Contact</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4 ">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Volgen ons ook elders</h4>
            <ul class="list-unstyled">
                <a href="https://www.facebook.com/GrafischeendigitalemediaArteveldehogeschool/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                <a href="https://twitter.com/arteveldehsgent"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/arteveldehogeschool/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            </ul>
          </div>
        </div>
       

      </div>
    </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!--Footer Bottom-->
            <p class="text-xs-center">&copy; Copyright 2017</p>
          </div>
        </div>
      </div>
    </div>
  </footer>



